@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

//color
:root {
	//text-color
	--color-base: #222;
	--color-primary: #ffa199;
	--color-secondary: #45abc7;

	--color-black: #222;
	--color-white: #fff;
	--color-gray: #444;
	--color-gray-75: lighten(#444, 75%);
	--color-gray-50: lighten(#444, 50%);
	--color-gray-25: lighten(#444, 25%);


	//background-color
	--bg-base: #fff;


	// font-family
	--body-font: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	--font-family-sans-serif: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	--font-family-serif: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	// --font-family-original: 'Roboto', 'Noto Sans JP', "游ゴシック体", sans-serif; //オリジナルフォント


	// line-height
	--line-height-base: 1.5;
	--line-height-large: 2;
	--line-height-small: 1.2;
}

// font-size
$font-size-base: 18px !default;

$body-font-size: 18px !default;
$font-size-xl: 24px !default;
$font-size-lg: 20px !default;
$font-size-sm: 16px !default;
$font-size-xs: 14px !default;

// font-size-head
$font-size-h1: 60px !default;
$font-size-h2: 40px !default;
$font-size-h3: 24px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18px !default;
$font-size-h6: 16px !default;

//link-color
$link-color: #444 !default;
$link-hover-color: darken($link-color, 5%) !default;
